<template>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-custom">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Predmeti</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/requests">Zahtevi</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/types">Tipovi</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link logout" href="/login">Odjava</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="col-12">
                <h1>Lista predmeta za izdavanje</h1>
            </div>
            <div class="row">
                <div v-if="role == 'ADMIN'" class="col-12 buttons">
                    <button class="btn btn-primaty btn-add" data-toggle="modal" data-target="#addModal">Dodaj</button>
                </div>
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div v-for="(item, index) in items" class="col-12 card">
                        <!-- if -->
                        <h3 v-if="item.status == 0">Rezervisan</h3>
                        <h3 v-if="item.status == 1">Slobodan</h3>
                        <!-- <h3>Slobodno</h3> -->


                        <h2>REDNI BROJ: <span>{{index + 1}}</span></h2>
                        <h2>NAZIV: <span>{{item.name}}</span></h2>
                        <h2>OPIS: <span>{{item.description}}</span></h2>
                        <h2>TIP: <span>{{item.type.name}}</span></h2>
                        <h2 v-if="role == 'ADMIN' && isApproved(item)">IZDATO: <span>{{getRent(item)}}</span></h2>

                        <div class="buttons">
                            <button v-if="role == 'ADMIN'" class="btn btn-primary" @click="deleteItem(item.id)">Obrisi</button>
                            <button v-if="role == 'ADMIN'" class="btn btn-primary" data-toggle="modal" data-target="#editModal" @click="editItem = item;">Izmeni</button>
                            <button v-if="role == 'USER' && item.status == 1" class="btn btn-primary" @click="requestItem(item)">Iznajmi</button>
                            <button v-if="role == 'ADMIN' && isApproved(item)" class="btn btn-primary" @click="returnItem(item)">Vraćeno</button>

                            <!-- <button class="btn btn-primary">Rezervisi</button> -->
                        </div>
                    </div>

                    <!-- Modal izmeni -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Izmenite predmet</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body input-modal">
                                    <input type="text" placeholder="Naziv predmeta" v-model="editItem.name">
                                    <input type="text" placeholder="Opis" v-model="editItem.description">
                                    <select v-model="editItem.type_id">
                                        <option v-for="type in types" :value="type.id">{{type.name}}</option>
                                    </select>
                                </div>
                                <div class="modal-footer buttons">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                                    <button type="button" class="btn btn-primary" @click="updateItem(editItem)" data-dismiss="modal">Izmeni</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal dodaj -->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dodaj1">Dodajte predmet</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body input-modal">
                                    <input type="text" placeholder="Naziv predmeta" v-model="newItem.name">
                                    <input type="text" placeholder="Opis" v-model="newItem.description">
                                    <select v-model="newItem.type_id">
                                        <option v-for="type in types" :value="type.id">{{type.name}}</option>
                                    </select>
                                </div>
                                <div class="modal-footer buttons">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                                    <button type="button" class="btn btn-primary" @click="addItem()" data-dismiss="modal">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-12 card">
                        <h3>Slobodno</h3>


                        <h2>REDNI BROJ: <span>2</span></h2>
                        <h2>NAZIV: <span>Samsung Gear S3</span></h2>
                        <h2>OPIS: <span>Samsung Gear S3 uzeta 19.06.2018, rok za vracanje je 28.07.2018</span></h2>

                        <div class="buttons">
                            <button class="btn btn-primary">Obrisi</button>
                            <button class="btn btn-primary">Izmeni</button>
                            <button class="btn btn-primary">Rezervisi</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
</template>
<script>
	export default {


        mounted() {
            this.getTypes();
            this.getItems();
            this.getApproved();
        },
        data: function () {
            return {
                token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMDAvYXBpL2xvZ2luIiwiaWF0IjoxNTI4OTk3OTEwLCJuYmYiOjE1Mjg5OTc5MTAsImp0aSI6Ik0ycDJha0w1WVVrR0pIaE8iLCJzdWIiOjEsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEifQ.TKhuBqWQ5G5U8e49nCdmAT5cBeYXjJl7f4nIIsPJIIM',
                items: [],
                editItem: [],
                newItem: {
                    name: '',
                    description: '',
                    type_id: 1,
                    status: 1
                },
                types: [],
                approved: [],
                role: localStorage.getItem('role')
            }
        },
        methods: {
            getItems() {
                axios.get('api/item', {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
				.then((response) => {
				    this.items = response.data.data;
				})
				.catch((error) => {
					console.log(error);
				});
            },
            deleteItem(id) {
                axios.delete('api/item/' + id, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.items.forEach((item, index) => {
                            if(item.id == id) {
                                this.items.splice(index, 1);
                            }
                        })
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateItem(editItem) {
                axios.put('api/item/' + editItem.id, editItem, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.items.forEach((item, index) => {
                            if(item.id == editItem.id) {
                                this.items[index] = editItem;
                            }
                            location.reload();
                        })
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            addItem() {
                axios.post('api/item', this.newItem, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.items.push(response.data.data);
                        this.newItem.name = '';
                        this.newItem.description = '';
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            requestItem(item) {
                axios.post('api/ask/item', {item_id: item.id}, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        item.status = 0;
                        alert('Zahtev uspesno poslat!');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getApproved() {
                axios.get('api/approved', {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.approved = response.data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            isApproved(item) {
                let isTrue = false;
                this.approved.forEach((approved) => {
                    if( approved.item_id == item.id) {
                        isTrue = true;
                    }
                });

                return isTrue;
            },
            returnItem(item) {
                axios.post('api/return/item', {item_id: item.id}, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        location.reload();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getTypes() {
                axios.get('api/type', {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.types = response.data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getRent(item) {
                var name = '';
                this.approved.forEach((approved) => {
                    if( approved.item_id == item.id) {
                        console.log(approved);
                         name = approved.user.name;
                    }
                });
                return name;
            }

        }
    }
</script>