<template>
    <div class="container-fluid login-page vertical-center">
        <div class="row vertical-center1 text-center">
            <div class="col-12">
                <h1>BIBLIOTEKA</h1>
            </div>
            <div class="card">
                <div class="col-12">
                    <h2>Ulogujte se</h2>
                </div>
                <div class="col-12 inputs">
                     <input type="text" placeholder="admin@demo.com" v-model="userData.email">
                     <input type="password" placeholder="********" v-model="userData.password">
                </div>
                <div class="col-12 buttons">
                    <button class="btn btn-primary" @click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted(){

        },
        data() {
            return {
                userData: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            login: function() {
                axios.post('/api/login', this.userData)
                    .then((response) => {
                        localStorage.setItem('token', response.data.data.token);
                        localStorage.setItem('role', response.data.data.user.role);
                        window.location.href = '/home';
                    })
                    .catch((err) => {
                  alert('Pogresan email ili lozinka');
                })
            }
        }
    }
</script>