<template>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-custom">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Predmeti</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/requests">Zahtevi</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/types">Tipovi</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link logout" href="/login">Odjava</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid home-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Zahtevi</h1>
                    </div>

                    <!-- REPEAT -->
                    <div class="col-12 card" v-for="request in requests">
                        <h2>Korisnik: <span>{{request.user.name}}</span></h2>
                        <h2>Predmet: <span>{{request.item.name}}</span></h2>

                        <div class="buttons">
                            <button class="btn btn-primary" @click="approve(request)">Odobri</button>
                            <button class="btn btn-primary" @click="denie(request)">Odbij</button>
                            <!-- <button class="btn btn-primary">Rezervisi</button> -->
                        </div>
                    </div>

                    <!--<div class="col-12 card">-->
                    <!--<h2>Korisnik: <span>Aleksandar Vukasinovic</span></h2>-->
                    <!--<h2>Predmet: <span>USB kabal</span></h2>-->

                    <!--<div class="buttons">-->
                    <!--<button class="btn btn-primary">Odobri</button>-->
                    <!--<button class="btn btn-primary">Odbij</button>-->
                    <!--&lt;!&ndash; <button class="btn btn-primary">Rezervisi</button> &ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getRequests();
        },
        data() {
            return {
                requests: [],
                role: localStorage.getItem('role')
            }
        },
        methods: {
            getRequests() {
                axios.get('api/request', {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.requests = response.data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            approve(request) {
                axios.post('api/approve/item', {item_id: request.item_id}, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.requests.forEach((request, index) => {
                            if (response.item_id == response.data.data.id) {
                                this.requests.splice(index, 1);
                            }
                        });
                        alert('Odobrili ste predmet korisniku!');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            denie(request) {
                axios.post('api/return/item', {item_id: request.item_id}, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.requests.forEach((request, index) => {
                           if (request.item_id == response.data.data.id) {
                               this.requests.splice(index, 1);
                           }
                        });
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>