<template>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-custom">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Predmeti</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/requests">Zahtevi</a>
                    </li>
                    <li  v-if="role == 'ADMIN'" class="nav-item">
                        <a class="nav-link" href="/types">Tipovi</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link logout" href="/login">Odjava</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid home-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Tipovi</h1>
                    </div>
                    <div class="col-12 buttons">
                        <button class="btn btn-primaty btn-add" data-toggle="modal" data-target="#addTypeModal">Dodaj</button>
                    </div>
                    <!-- REPEAT -->
                    <div class="col-12 card" v-for="type in types">
                        <h2>TIP: <span>{{type.name}}</span></h2>

                        <div class="buttons">
                            <button class="btn btn-primary" @click="deleteType(type)">Obrisi</button>
                            <button class="btn btn-primary" data-toggle="modal" @click="editType = type;" data-target="#editTypeModal">Izmeni</button>
                            <!-- <button class="btn btn-primary">Rezervisi</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal dodaj -->
            <div class="modal fade" id="addTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Dodajte tip</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body input-modal">
                            <input type="text" placeholder="Naziv tipa" v-model="newType.name">
                        </div>
                        <div class="modal-footer buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                            <button type="button" class="btn btn-primary" @click="createType()" data-dismiss="modal">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal izmeni -->
            <div class="modal fade" id="editTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Izmenite tip</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body input-modal">
                            <input type="text" placeholder="Naziv tipa" v-model="editType.name">
                        </div>
                        <div class="modal-footer buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                            <button type="button" class="btn btn-primary" @click="updateType()" data-dismiss="modal">Izmeni</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getTypes();
        },
        data() {
            return {
                types: [],
                newType: {
                    name: ''
                },
                editType: {},
                role: localStorage.getItem('role')
            }
        },
        methods: {
            getTypes() {
                axios.get('api/type', {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.types = response.data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            deleteType(type) {
                axios.delete('api/type/' + type.id, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.types.forEach((rType, index) => {
                           if (type.id == rType.id) {
                               this.types.splice(index, 1);
                           }
                        });
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            createType() {
                axios.post('api/type', this.newType, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.types.push(response.data.data);
                        this.newType.name = '';
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateType() {
                axios.put('api/type/' + this.editType.id, this.editType, {
                    headers: {
                        "Authorization" : 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then((response) => {
                        this.types.forEach((type, index) => {
                            if(type.id == this.editType.id) {
                                this.types[index] = this.editType;
                            }
                            location.reload();
                        })
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>