
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'login';
@import 'home';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-custom {
	background-color: #fff !important;
	height: 80px;
	ul {
		width: 100%;
	}
	a {
		// color: #345392 !important;
	    font-weight: 600;
	    font-size: 18px;
	    letter-spacing: 2px;
	}

}
.logout {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(112, 168, 221);
	border-radius: 4px;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
// modal
.input-modal {
	input {
		width: 100%;
		height: 40px;
		border: none;
	    background-color: transparent;
	    border-bottom: 2px solid #c7deed;
	    margin-bottom: 20px;
	    outline: none;
	    color: #345392;
	    font-size: 18px;

	    &::placeholder {
	    	color: #345392;
	    }
	}
	select {
		width: 100%;
		height: 30px;
		outline: none
	}
}
.modal-header {
	text-align: center;
	color: #fff;
	background-color: #8fc0e7;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	color: #345392 !important;
}
.vertical-center {
    position: relative;
    height: 100vh;
    display: table;
    width: 100%;
}
.vertical-center1 {
    display: table-cell;
    vertical-align: middle;
}
