.home-page {
	background: linear-gradient(to bottom right, #345392 , #8fc0e7);
	min-height: 100vh;

	h1 {
		color: #c7deed;
		font-size: 36px;
		letter-spacing: 6px;
		margin-top: 80px;
		text-align: center;
	}
	.buttons {

		button {
			width: 120px;
		    height: 40px;
		    font-weight: 600;
		    margin-top: 40px;
		    letter-spacing: 2px;
		    background-color: #397ec3;
		    color: #ffffff;
		    outline: none;
		    box-shadow: none;
		    border: none;
		    margin-left: 10px;
				
			&:hover {
				background-color: #c7deed;
				color: #397ec3;
			}
		    &:focus {
		    	outline: none;
			    box-shadow: none;
			    border: none;
		    }
		    &:active {
		    	outline: none;
			    box-shadow: none;
			    border: none;
		    }
		}
		.btn-add {
	    	float: right !important;
	    	margin-right: -15px;
	    	margin-bottom: 40px;
	    }
		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
			background-color: #397ec3;
			box-shadow: none;
		}
	}
	.card {
		background-color: #70a8dd;
	    padding: 30px;
	    margin: 0 auto;
	    box-shadow: 0 6px 18px 0 rgba(0,0,0,0.1);
	    margin-top: 20px;
	    color: #ffffff;
	    text-align: center;
	    margin-bottom: 40px;
		width: 100%;

	    h2 {
	    	width: 100%;
	    	font-size: 18px;
    		letter-spacing: 1px;
    		font-weight: 600;
    		color: #ffffff;

    		span {
    			color: #ffffff;
    			letter-spacing: 1px;
    			font-style: italic;
    			font-size: 18px;
    			font-weight: 400;
    			margin-left: 5px;
    		}
	    }
	    h3 {
	    	text-align: start;
		    font-size: 18px;
		    letter-spacing: 3px;
	    }
	}
}