.login-page {
	background: linear-gradient(to bottom right, #345392 , #8fc0e7);
	
	.card {
		background-color: #70a8dd;
	    padding: 40px;
	    max-width: 400px;
	    margin: 0 auto;
	    box-shadow: 0 6px 18px 0 rgba(0,0,0,0.1);
	}
	h1 {
		color: #c7deed;
		font-size: 36px;
		letter-spacing: 12px;
		margin-bottom: 80px;
	}
	h2 {
		color: #ffffff;
		font-size: 28px;
		letter-spacing: 4px;
		margin-bottom: 40px;
	}
	.inputs {
		input {
			width: 100%;
			max-width: 300px;
			height: 40px;
			border: none;
		    background-color: transparent;
		    border-bottom: 2px solid #c7deed;
		    margin-bottom: 20px;
		    outline: none;
		    color: #ffffff;
		    font-size: 18px;

		    &::placeholder {
		    	color: #ffffff;
		    }
		}
	}
	.buttons {

		button {
			width: 100%;
		    height: 40px;
		    font-weight: 600;
		    margin-top: 40px;
		    letter-spacing: 4px;
		    background-color: #397ec3;
		    color: #ffffff;
		    outline: none;
		    box-shadow: none;
		    border: none;
				
			&:hover {
				background-color: #c7deed;
				color: #397ec3;
			}
		    &:focus {
		    	outline: none;
			    box-shadow: none;
			    border: none;
		    }
		    &:active {
		    	outline: none;
			    box-shadow: none;
			    border: none;
		    }
		}
		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
			background-color: #397ec3;
			box-shadow: none;
		}
	}
}